body {
  background-color: #333;
  color: #eee;
}

#preview_container {
  max-width: 100vw;
  height: 100px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}